In [5]:
import pandas as pd

In [6]:
data = pd.read_csv('../Data/daily.csv')

In [7]:
data

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,2012-12-27,1,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114
727,728,2012-12-28,1,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095
728,729,2012-12-29,1,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341
729,730,2012-12-30,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,2012-12-31,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

In [9]:
X_data= data.iloc[:,7:13]
y_data= data.iloc[:,-1]

In [10]:
X = X_data.values
y = y_data.values

In [11]:
X.shape

(731, 6)

In [12]:
y.shape

(731,)

In [13]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model

In [14]:
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [15]:
train_X,test_X, train_y, test_y = train_test_split(X,
                                                   y,
                                                   test_size = 0.2,
                                                   random_state = 0)

In [16]:
regr = linear_model.LinearRegression()
regr.fit(train_X,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
y_pred = regr.predict(test_X)

In [18]:
regr.score(test_X,test_y)

0.42695826009680726

In [19]:
y_pred.shape

(147,)

In [20]:
mean_absolute_error(y_pred,test_y)

1314.9020166399846

In [21]:
y_pred

array([5781.30687748, 6345.20743113, 3056.64438254, 2595.42149929,
       3597.87807816, 3351.73016588, 3714.40944195, 4553.74878811,
       4741.33700825, 2384.81515774, 2682.8502494 , 2944.7416572 ,
       2574.34596546, 6095.23075303, 6449.01113989, 5128.70136096,
       5263.40965323, 4436.70336528, 2772.11380618, 3203.67644218,
       6608.80993828, 2618.05957057, 3613.53945107, 5601.89850015,
       1573.67376167, 5439.18436615, 7468.04789128, 6243.97373645,
       5052.23518386, 5357.05958444, 1814.89568547, 5873.43201571,
       3734.6493676 , 6086.51219185, 3352.65668063, 3518.77974559,
       6163.44268641, 7392.99638247, 4123.08238258, 3329.22423253,
       4449.17090687, 2949.08260465, 5309.82004829, 3347.71569786,
       6174.13068703, 5369.79601902, 3018.60994467, 4870.78092513,
       2687.2076573 , 3034.95186287, 5816.19080654, 6302.6423099 ,
       4440.71322967, 5092.79230609, 5403.46301833, 4062.15081977,
       3178.09313287, 4659.54792751, 6242.35581747, 3724.35919886,
       4900.6641825 , 3837.07508776, 3747.56588293, 5356.32388577,
       5651.30175321, 4398.38345401, 4995.45006791, 3923.14469757,
       5478.08541819, 3515.89552493, 4368.46204225, 6190.31771203,
       3127.37100941, 6077.82171073, 5093.54025263, 4354.14826351,
       4931.94093554, 6538.49986104, 3059.79504967, 2531.86671234,
       6995.93547983, 3740.09065345, 7057.52972671, 3554.46640509,
       5167.88448719, 5736.76735383, 6679.87174992, 4902.22542406,
       3881.83046541, 4577.97285421, 2439.54089036, 4731.36879081,
       6778.23642561, 6001.40049568, 4380.10126921, 2758.68342816,
        938.20648501, 6525.45516131, 6073.30653823, 3285.1072374 ,
       4715.93017499, 4303.08437928, 3260.85381988, 4806.82615201,
       3635.43337974, 6984.34921276, 5768.76825153, 5144.23616216,
       3776.193768  , 3240.10885609, 4337.42201609, 5147.50453659,
       4894.57794756, 3598.5173964 , 1442.79129991, 6179.6329718 ,
       5635.61676954, 4289.16302389, 4605.90854767, 4032.99037519,
       3649.39798011, 6091.07909769, 4804.35461365, 3572.644192  ,
       4409.13242483, 5109.63832231, 2694.43399391, 4652.89940617,
       3236.91495819, 5052.84025587, 1950.23506022, 5819.97038905,
       2693.08677058, 4230.48002489, 3432.66891895, 4876.37034812,
       5403.05288379, 4763.14150471, 5415.18805237, 5403.69197219,
       4144.29212286, 4985.21920699, 4804.24543967, 3449.76812202,
       4860.24646173, 6136.18387643, 5510.36154138])

In [22]:
from sklearn.neural_network import MLPRegressor

In [23]:
mlp = MLPRegressor(hidden_layer_sizes=(100, 100),
                                 tol=1e-2, max_iter=5000, random_state=0)

In [24]:
mlp.fit(train_X,train_y)

C:\Users\mouha\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:566: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (5000) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=(100, 100), learning_rate='constant',
             learning_rate_init=0.001, max_iter=5000, momentum=0.9,
             n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
             random_state=0, shuffle=True, solver='adam', tol=0.01,
             validation_fraction=0.1, verbose=False, warm_start=False)

In [25]:
y_pred_mlp = mlp.predict(test_X)
y_pred_mlp

array([5732.32302444, 5879.23177627, 2793.5414402 , 1935.74433711,
       3420.44687755, 3096.66412674, 3693.30069869, 4798.61605092,
       5404.51126599, 1710.73041877, 2295.64544211, 2580.88336628,
       2208.5515078 , 5849.98933523, 5911.88827786, 5716.84405852,
       5713.7041652 , 4638.57575793, 2607.57097013, 3056.9301671 ,
       6007.07241542, 2033.49715602, 3646.89974438, 5690.01386426,
        992.86142972, 6109.78799175, 6071.92187127, 5951.21363585,
       5583.06492382, 5735.80051713, 1409.75621304, 5836.72418216,
       3731.17032915, 5781.38806437, 3266.0944175 , 3488.10565976,
       5780.79100176, 5833.27759957, 4340.21582901, 3193.14478789,
       4865.15430622, 2664.87078837, 5660.67137081, 3229.50572542,
       5857.46550276, 5792.53522025, 2903.24712699, 5388.47906225,
       2138.1873292 , 2779.27380803, 5699.00495665, 5867.66522756,
       4795.18716323, 5554.9551559 , 6075.40352925, 4231.72778153,
       3014.23770777, 4986.37903279, 5860.14223135, 3704.38493337,
       5369.5737911 , 3933.72041263, 3865.54592825, 5711.40077668,
       5831.14484235, 4555.35314537, 5459.31406348, 4304.00017826,
       5653.8626167 , 3418.7422467 , 4816.81151067, 5874.69954767,
       2855.09345698, 5751.18839831, 5573.17700912, 4605.48921888,
       5425.46603759, 5974.0004084 , 2759.82268036, 2184.91760454,
       5839.12658713, 3776.35051764, 6141.73145937, 3576.09962573,
       5627.67958703, 5816.21364985, 6030.30705517, 5322.50039284,
       3947.38357118, 4976.63723501, 1818.55232597, 5488.45971608,
       5965.62145323, 6521.51982345, 4682.01400454, 2300.35346746,
        484.52836761, 5919.8649683 , 6587.81272793, 3109.46332435,
       5007.44539761, 4801.94538703, 3001.43666338, 5294.77271259,
       3572.55513043, 5835.41412593, 5878.50341476, 5766.03446067,
       3799.95030489, 3021.21979062, 4593.07707757, 5785.77310034,
       5281.1977353 , 3998.71445029,  861.65719977, 5912.52070878,
       5770.92117961, 4703.18502586, 4918.01648783, 4341.43250382,
       3462.76817795, 5806.26813794, 5376.73686107, 3505.32533039,
       4737.34109116, 5601.4323828 , 2243.53621901, 5128.97434878,
       3092.78263427, 5552.07557911, 1251.41108162, 5632.52030998,
       2245.62541481, 4517.79358624, 3271.76473161, 5337.31097102,
       5733.08668099, 5206.10335955, 5746.49073613, 5670.14936972,
       4348.08092362, 5530.34371997, 5264.81593829, 3399.80567924,
       5215.69695929, 5895.32076209, 5659.61497172])

In [26]:
mean_absolute_error(y_pred_mlp,test_y)

1242.6096004289807

In [27]:
data1 = pd.read_csv('../Data/hourly.csv')

In [28]:
data1

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [29]:
X_data1= data1.iloc[:,7:13]
y_data1= data1.iloc[:,-1]

In [30]:
X1 = X_data1.values
y1 = y_data1.values

In [31]:
X_data1

       weekday  workingday  weathersit  temp   atemp   hum
0            6           0           1  0.24  0.2879  0.81
1            6           0           1  0.22  0.2727  0.80
2            6           0           1  0.22  0.2727  0.80
3            6           0           1  0.24  0.2879  0.75
4            6           0           1  0.24  0.2879  0.75
...        ...         ...         ...   ...     ...   ...
17374        1           1           2  0.26  0.2576  0.60
17375        1           1           2  0.26  0.2576  0.60
17376        1           1           1  0.26  0.2576  0.60
17377        1           1           1  0.26  0.2727  0.56
17378        1           1           1  0.26  0.2727  0.65

[17379 rows x 6 columns]

In [32]:
print(X.shape)
print(y.shape)

(731, 6)
(731,)

In [33]:
train_X1,test_X1, train_y1, test_y1 = train_test_split(X1,
                                                   y1,
                                                   test_size = 0.2,
                                                   random_state = 0)

In [34]:
regr1 = linear_model.LinearRegression()
regr1.fit(train_X1,train_y1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [35]:
y_pred1 = regr1.predict(test_X1)

In [36]:
mean_absolute_error(y_pred1,test_y1)

114.7448776101406

In [37]:
mlp1 = MLPRegressor(hidden_layer_sizes=(100, 100),
                                 tol=1e-2, max_iter=5000, random_state=0)

In [38]:
mlp1.fit(train_X1,train_y1)

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=(100, 100), learning_rate='constant',
             learning_rate_init=0.001, max_iter=5000, momentum=0.9,
             n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
             random_state=0, shuffle=True, solver='adam', tol=0.01,
             validation_fraction=0.1, verbose=False, warm_start=False)

In [39]:
y_pred_mlp1 = mlp1.predict(test_X1)

In [40]:
mean_absolute_error(y_pred_mlp1,test_y1)

108.9005175238787